@if (ViewBag.ErrorTitle == null)
{
    <h3>
        An error occured while processing your request.
        The support team is notified and we are working on the fix
    </h3>
    <a href="mailto:idowu.s.adekale@gmail.com" target="_blank" class="btn btn-dark" style="width:auto">Please contact idowu.s.adekale@gmail.com</a>
    <h5>For furhter information, kindly click the above button to contact the Developer</h5>
}

else
{
    <h1 class="text-danger">@ViewBag.ErrorTitle</h1>
    <h6 class="text-danger">@ViewBag.ErrorMessage</h6>
}